@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(87, 87, 255);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 10px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    text-align: center;
    
}

.inps {
    margin: 20px;
    text-align: left;
    font-weight: bolder;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
}